<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySqlConnection" connectionString="Server=localhost;Port=3306;Database=furniture;Uid=root;Pwd=admin;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
